
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div *ngIf="really then tmp1 else tmpl2"></div>
  <ng-template #tmp1>Hello World, I exits</ng-template>
  <ng-template #tmpl2>I simply don't exist</ng-template>
  <button [disabled]="dd=='yes'">Hello</button>
</div>






<button (mouseenter)="myEvent($event)" (mouseleave)="myEvent2($event)">Click Me</button>
<h1 [ngClass]="titleClasses">Click Me</h1>
<div (mousemove)="showPosition($event);" [ngClass]="touchpad"></div>
<h2 [style.color]="colorX">Mouse Position X: {{mouseX}}</h2>
<h2 [style.color]="colorY">Mouse Position Y: {{mouseY}}</h2>
